@model Quiz.Models.User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

    <div id="menubar_container">	    
	  <div id="menubar">
		
        <div id="menu_items">
	      <ul id="menu">
            <li><a href="index">Home</a></li>
            <li><a href="quiz">Manage Quiz</a></li>
              <li  class="current"><a href="student">Manage Student</a></li>
              <li><a href="/Home/index">Log-out</a></li>
          </ul>
        </div><!--close menu_Items-->		
      
	  </div><!--close menubar-->		  
	</div><!--close menubar_container-->

    <div id="slogan_container">     		  
	  <div id="slogan">	  
	    <h2>Do you think you are intelligent??? Lets See !!!</h2>	  
	  </div><!--close slogan-->				
	</div><!--close slogan_container-->	

    <div id="site_content">		
	  <div class="sidebar_container">       
		
		<div class="sidebar">
          <div class="sidebar_item">
            <a href="astudent" >Add Student</a>
              <p>Click here to Register a new Student</p>
          </div><!--close sidebar_item--> 
        </div><!--close sidebar-->     		
		
          <div class="sidebar">
          <div class="sidebar_item">
            <a href="dstudent" >Delete Student</a>
              <p>Click here to delete a Student</p>
          </div><!--close sidebar_item--> 
        </div><!--close sidebar-->
		
          <div class="sidebar">
          <div class="sidebar_item">
            <a href="ustudent" >Update Student</a>
              <p>Click here to Update a Student</p>
          </div><!--close sidebar_item--> 
        </div><!--close sidebar-->

          <div class="sidebar">
          <div class="sidebar_item">
            <a href="vstudent" >View All Students</a>
              <p>Click here to view all Student</p>
          </div><!--close sidebar_item--> 
        </div><!--close sidebar-->

      </div><!--close sidebar_container-->

        <div id="content">
        
            <div class="content_item">
                <div class="form_settings">
                    <h1>Add New Student</h1>
                    <p>Fill all the fields to add the student</p>
                    @*<form>
                        <p><span>Username</span><input type="text" value="" name="uname" /> div id="result" class="res">
                </div> </p>
                @Scripts.Render("~/Scripts/jquery-1.7.1.js")
                <script>

                    $('#Username').blur(function () {
                        var uname = $('#Username').val();

                        $.getJSON("/Home/checkUsername?name=" + uname, function (data) {
                            if (data) {
                                $('#result').text('Not Available');
                            }
                            else {
                                $('#result').text('Available');
                            }
                        });
                    });

                </script>
                <p><span>Password</span><input type="text" value="" name="password" /></p>
                <p><span>Name</span><input type="text" value="" name="name" /></p>
                <p><span>Roll No</span><input type="text" value="" name="rollno" /></p>
                <p><span>Address</span><input type="text" value="" name="address" /></p>


                <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="add_student" value="Add Student" /></p>
                </form>*@
                    @using (Html.BeginForm("add", "Admin", FormMethod.Post, new { @class = "form_settings" }))
                    {
                        
                        <p><span> @Html.Label("Username") </span>* @Html.TextBoxFor(m => m.Username, null, new { @class = "contact" }) <div id="result" class="res"></div> </p>
                        @Scripts.Render("~/Scripts/jquery-1.7.1.js")
                        <script>

                            $('#Username').blur(function () {
                                var uname = $('#Username').val();

                                $.getJSON("/Home/checkUsername?name=" + uname, function (data) {
                                    if (data) {
                                        $('#result').text('Not Available');
                                    }
                                    else {
                                        $('#result').text('Available');
                                    }
                                });
                            });

                        </script>

                        <p><span> @Html.Label("Password") </span>* @Html.TextBoxFor(m => m.Password, null, new { @class = "contact" }) </p>
                        <p><span> @Html.Label("Name") </span>* @Html.TextBoxFor(m => m.Name, null, new { @class = "contact" }) </p>
                        <p><span> @Html.Label("Address") </span>* @Html.TextBoxFor(m => m.Address, null, new { @class = "contact" }) </p>
                        <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="contact_submitted" value="Add Student" /></p>

                    }
            </div>

            </div>
        </div>


        </div>
