@model Quiz.Models.User
@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/style")

    @Scripts.Render("~/bundles/jquery")
    <script>
        $(document).ready(function () {
            var uname = $("#uname").val();

            $.getJSON("/Student/getPassword?Username="+uname, function(data)
            {
                $("#password").val(data.Password);
            });
        });

    </script>

</head>
<body>
    <div id="welcome">
        <h1><a href="#">Welcome To Quiz Mania</a></h1>
    </div><br />

    <div id="menubar_container">
        <div id="menubar">

            <div id="menu_items">
                <ul id="menu">
                    <li><a href="index">Home</a></li>
                    <li><a href="quiz">Take Quiz</a></li>
                    <li class="current"><a href="profile">Manage Profile</a></li>
                    <li><a href="/Home/index">Log-out</a></li>
                </ul>
            </div><!--close menu_Items-->

        </div><!--close menubar-->
    </div><!--close menubar_container-->

    <div id="slogan_container">
        <div id="slogan">
            <h2>Do you think you are intelligent??? Lets See !!!</h2>
        </div><!--close slogan-->
    </div><!--close slogan_container-->

    <div id="site_content">
        <div class="sidebar_container">

            <div class="sidebar">
                <div class="sidebar_item">
                    <br /><a href="cpassword">Change Password</a><br />
                    <p>You can change your current password</p>
                </div><!--close sidebar_item-->
            </div><!--close sidebar-->

            <div class="sidebar">
                <div class="sidebar_item">
                    <a href="uprofile">Update Profile</a><br />
                    <p>You can update your personal Information</p>
                </div><!--close sidebar_item-->
            </div><!--close sidebar-->
            <div class="sidebar">
                <div class="sidebar_item">
                    <a href="vprofile">View Profile</a><br />
                    <p>You can View your profile</p>
                </div><!--close sidebar_item-->
            </div><!--close sidebar-->

        </div>

        <div id="content">

            <div class="content_item">
                <h1><b>Change Password</b></h1>
                <form class="form_settings" method="post" action="/Student/CPassword">
                    <p><span>Username</span>@Html.TextBoxFor(m => m.Username, null , new { @class = "contact" })</p>
                    <p><span>Current Password</span> @Html.TextBox("pswd", null, new { @id ="password", @class = "contact" })</p>
                    <p><span>New Password</span> @Html.TextBoxFor(m => m.Password, null, new { @class = "contact" })</p>
                    <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="contact_submitted" value="Change" /></p>
                </form>
            </div>
        </div>
    </div>
    <br />
    <div id="footer">
        CopyRight Reserved | Website template by Syed Anees
    </div>

</body>
</html>